.image-icon {
    margin-top: 40px;
}

.about1, .rapidTurnaround {
    margin-top: 55px;
}

p {
    text-align: justify;
}

h2 {
    text-align: center;
}

.img1 {
    height: 90px;
    width: 220px;
    padding-left: 65px;
}

.paraHeading {
    padding-left: 100px;
    font-weight: bolder;
    font-size: 1.5em;
    color: #707070;
}